{{ range (where .Site.RegularPages.ByTitle "Section" "docs" ).GroupByDate "2006" }}

<h3 class="publications-table-heading">{{ .Key }}</h3>

<table class="publications-table">
    <thead>
        <tr>
            <th style="width: 60%;">Description</th>
            <th style="width: 20%;">Date completed</th>
            <th>Date added</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Pages.ByTitle }}
        <tr>
            <td>
                <b><a href="{{.RelPermalink}}">{{.Title | markdownify}}</a></b><br/>
                <small>{{ .Params.description }}</small>
            </td>
            <td>{{ .Params.date.Format "2006-01-02" }}</td>
            <td>{{ .Params.datePublished }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ end }}