{{ range (where .Site.RegularPages.ByTitle "Section" "docs" ).GroupByDate "2006" }}

<h3 class="publications-table-heading">{{ .Key }}</h3>

<table class="publications-table">
    <thead>
        <tr>
            <th style="width: 80%;">{{ i18n "description" }}</th>
            <th>{{ i18n "date-completed" }}</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Pages.ByTitle }}
        <tr>
            <td>
                <b><a href="{{.RelPermalink}}">{{.Title | markdownify}}</a></b><br/>
                {{ if .Params.description }}
                <small><b>{{ i18n "summary" }}:</b> {{ .Params.description }}</small>
                {{ end }}
                {{ if .Params.targetAudience }}
                <small><b>{{ i18n "target-audience" }}:</b> {{ .Params.targetAudience }}</small>
                {{ end }}
                <small><b><span title="{{ i18n "date-added-to-this-repository" }}">{{ i18n "date-added" }}</span>:</b> {{ .Params.datePublished }}</small>
                
            </td>
            <td>{{ .Params.date.Format "2006-01-02" }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ end }}
