{{ range (where .Site.RegularPages.ByTitle "Section" "docs" ).GroupByDate "2006" }}

<h2 class="publications-table-heading" id="y{{ .Key }}">{{ .Key }}</h2>

<table class="publications-table">
    <thead>
        <tr>
            <th style="width: 80%;">{{ i18n "description" }}</th>
            <th>{{ i18n "date-completed" }}</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Pages.ByDate.Reverse }}
        <tr>
            <td>
                {{ if .Params.canonicalUrl }}
                <b><a href="{{ .Params.canonicalUrl }}" target="_blank">{{.Title | markdownify}}</a></b> 
                {{ if .Params.blogPost }}
                ({{ i18n "blog-post" }})
                {{ else }}
                <br/>({{.Params.canonicalUrl}})
                {{ end }}
                <br/>
                {{ else }}
                    <b><a href="{{.RelPermalink}}">{{.Title | markdownify}}</a></b><br/>
                {{ end }}
                
                {{ if .Params.description }}
                <small><b>{{ i18n "summary" }}:</b> {{ .Params.description }}</small>
                {{ end }}
                {{ if .Params.targetAudience }}
                <small><b>{{ i18n "target-audience" }}:</b> {{ .Params.targetAudience }}</small>
                {{ end }}
                <small><b><span title="{{ i18n "date-added-to-this-repository" }}">{{ i18n "date-added" }}</span>:</b> {{ .Params.datePublished }}</small>
                
            </td>
            <td>{{ .Params.date.Format "2006-01-02" }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ end }}
